@import '../properties';

.content {
    background-color: $background-grey;
    height:500vh;
    .content-container {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}