@import '../properties';

.content {
    background-color: $background-grey;

    .content-container {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}